/* 공통 start */
html {
    --color-main: #666;
    /* background-color: #666; */
}

body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4; /* 최적의 줄높이 */
    font-family: "SUIT-Regular", sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 5px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: var(--color-main); /* 스크롤바의 색상 */

    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #fff; /*스크롤바 뒷 배경 색상*/
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.link_move {
    color: #fff;
    transition: 0.4s;
}

.link_move:hover {
    color: var(--color-main);
}

/* button start */
.btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: 0.4s;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

.btn.btn--reverse {
    background-color: #333;
    color: #fff;
}

.btn.btn--reverse:hover {
    background-color: transparent;
    color: #333;
}

.btn.btn--brown {
    color: #492b18;
    border-color: #592b18;
}

.btn.btn--brown:hover {
    color: #fff;
    background-color: #592b18;
}

.btn.btn--gold {
    color: #d9aa8a;
    border-color: #d9aa8a;
}

.btn.btn--gold:hover {
    color: #fff;
    background-color: #d9aa8a;
}

.btn.btn--white {
    color: #fff;
    border-color: #fff;
}

.btn.btn--white:hover {
    color: var(--color-main);
    border-color: var(--color-main);
    background-color: transparent;
}
/* button end */
/* 공통 end */

/* header start */
header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(225, 225, 225, 0.8);
    border-bottom: 1px solid #2c2a29;
    z-index: 11;
    transition: background-color 0.5s;
}

header > .inner {
    height: 100px;
}

header .logo {
    width: 202px;
    display: flex;
    align-items: center;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .logo img {
    margin-right: 15px;
    transition: filter 0.4s, transform 2.4s;
    /* transition: transform 2.4s; */
}

header .logo img:hover {
    transform: rotateY(540deg);
    /* transform: rotateX(900deg); */
}

header .logo span {
    width: 150px;
    position: absolute;
    font-weight: bold;
    color: #000;
    left: 60px;
    bottom: 0;
    transition: 0.5s;
}

/* subMenu start */
header .sub-menu {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
}

header .sub-menu ul.menu {
    display: flex;
    font-family: "SUIT-Regular", sans-serif;
}

header .sub-menu ul.menu li {
    position: relative;
}

header .sub-menu ul.menu li a {
    display: block;
    font-size: 12px;
    padding: 11px 16px;
    color: #656565;
    font-weight: 600;
    transition: color 0.5s;
}

header .sub-menu ul.menu li a:hover {
    color: #000;
    cursor: pointer;
}

header .sub-menu .search {
    height: 34px;
    position: relative;
}

header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 0;
    box-sizing: border-box;
    outline: none;
    background: transparent;
    color: #777;
    font-size: 12px;
    transition: width 0.6s;
}

header .sub-menu .search input:focus {
    width: 190px;
    border: 1px solid;
    border-color: var(--color-main);
    background-color: rgba(225, 225, 225, 0.7);
}

header .sub-menu .search .material-icons {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    color: #656565;
    right: 5px;
    margin: auto;
    transition: 0.4s;
    cursor: pointer;
}
/* subMenu end */

/* mainMenu start */
header .main-menu {
    position: absolute;
    top: 62.5px;
    right: 0;
    z-index: 1;
    display: flex;
}

header .main-menu .item .item__name {
    padding: 8px 20px 8px 20px;
    font-size: 15px;
    font-weight: bold;
    transition: color 0.5s;
}

header .main-menu .item:hover .item__name {
    background-color: #2c2a29;
    color: var(--color-main);
    border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
    width: 100%;
    position: fixed;
    left: 0;
    display: none;
}

header .main-menu .item:hover .item__contents {
    display: block;
}

header .main-menu .item .item__contents .contents__menu {
    background-color: #2c2a29;
}

header .main-menu .item .item__contents .contents__menu > ul {
    display: flex;
    padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu > ul > li {
    width: 25%;
}

header .main-menu .item .item__contents .contents__menu > ul > li > h4 {
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li {
    padding: 5px 0;
    font-size: 12px;
    color: #999;
    cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
    color: var(--color-main);
}

header .main-menu .item .item__contents .contents__texture {
    padding: 26px 0;
    font-size: 12px;
    background-color: #bfbfbe;
}

header .main-menu .item .item__contents .contents__texture h4 {
    color: var(--color-main);
    font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p {
    color: #000;
    margin: 4px 0 14px; /*상 중 하*/
}
/* mainMenu end */

/* badge start */
header .badges {
    position: absolute;
    top: 101px;
    right: 1px;
}

header .badges .badge {
    /* border-radius: 10px; */
    overflow: hidden;
    margin-bottom: 12px;
    /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15); */
    cursor: pointer;
}
/* badge end */
/* header end */

/* footer start*/
footer {
    background-color: #272727;
    border-top: 1px solid #333;
}

footer .inner {
    padding: 40px 0 10px 0;
}

footer .menu {
    display: flex;
    justify-content: center;
}

footer .menu li {
    position: relative;
}

footer .menu li::before {
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    margin: auto;
}

footer .menu li:last-child::before {
    display: none;
}

footer .menu li a {
    display: block;
    color: #ccc;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
    transition: 0.4s;
}

footer .menu li a:hover {
    color: var(--color-main);
}

footer .menu li a.red {
    color: var(--color-main);
}

footer .menu li:last-child {
    display: flex;
}

footer .menu li:last-child .family_box {
    width: 0;
    transition: 0.4s ease-in-out;
    display: none;
}

footer .menu li:last-child .family_box.open {
    display: block;
    width: 345px;
}

footer .menu li:last-child .family_site {
    height: 100%;
    display: flex;
    align-items: center;
}

footer .menu li:last-child .family_site li {
    margin-right: 10px;
    font-size: 13px;
    font-weight: 700;
    color: white;
}

footer .menu li:last-child .family_site li::before {
    display: none;
}

footer .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

footer .btn-group .btn {
    font-size: 12px;
    margin-right: 10px;
}

footer .btn-group .btn:last-child {
    margin-right: 0;
}

footer .info {
    margin-top: 30px;
    text-align: center;
}

footer .info span {
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}

footer .info span:last-child {
    margin-right: 0;
}

footer .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}

footer .logo {
    margin: 30px auto 0; /* 상 중 하 */
}
/* footer end*/
